@font-face {
  font-family: 'Jura';
  src: url('JuraDemiBold.eot'); /* IE9 Compat Modes */
  src: url('JuraDemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('JuraDemiBold.woff') format('woff'), /* Modern Browsers */
       url('JuraDemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('JuraDemiBold.svg#6b4357decd553e9e0f03d3bea43a0df3') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Jura-bold';
  src: url('JuraDemiBold.eot'); /* IE9 Compat Modes */
  src: url('JuraDemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('JuraDemiBold.woff') format('woff'), /* Modern Browsers */
       url('JuraDemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('JuraDemiBold.svg#6b4357decd553e9e0f03d3bea43a0df3') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

